.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-div {
  
 
} */
.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo img {
  max-width: 3em;
  padding: 1em;
}

.nav-link {
  margin: 0 1em 0 1em;
  text-decoration: none;
  color: #262B53;
}

.nav-link:last-child {
  margin-right: 0;
  padding-right: 1em;
}

.nav-link-container {
  display: flex;
  justify-content: flex-end;
  padding: 2em 0 2em 0;
  max-height: 1.75em;
}

.container {
  min-height: 100vh;
}

.container-homepage {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.frameworkInput {
  margin-top: 4em;
  padding: 1.5em;
  width: 20em;
}

.about-image {
  max-width: 30em;
  padding: 1em
}
